.header-line
    .header-line_logo
        img(src=require('/src/images/logo_quiz.png'))
        .header-line_logo_descr
            p <strong>CтройТехМонтаж</strong>
            p Строительство домов в крыму
    nav.menu
      ul
          a.link_menu(href="#") Главная
          a.link_menu(href="#") Наша команда
          a.link_menu(href="#") Гарантии
          a.link_menu(href="#") Отзывы
          a.link_menu(href="#") Ипотека
          a.link_menu(href="#") Рассчёт стоимости

    .header-line_call_back
        .header-line_call_back_icon
            img.src(src=require(`../../images/call_header.png`) alt=call)
        .header-line_call_back_infom
            p <strong>8 (800) 000-00-00</strong>
            p Ежедневно в с 9:00 до 18:00