@mixin solid_anim

  color: $white
  text-decoration: none
  line-height: 2px
  position: relative
  cursor: pointer
  margin-right: 20px
  &:after
    display: block
    position: absolute
    left: 0%
    width: 0%
    height: 2px
    background-color: $red
    content: ""
    transition: width 0.4s ease-out
  &:focus:after,
  &:hover:after
    width: 100%


@mixin back_a
  width: 580px
  height: 400px
  background-repeat: no-repeat
  background-size: cover


@mixin butn
  width: 300px
  height: 70px
  font-size: 20px
  border-radius: 15px
  color: $red
  &:hover
    background-color: $red
    color: $white
    transition: all 0.3s ease-out
    border: 1px solid $white