.quiz
    .container
        .quiz_title
            h1 Рассчитайте стоимость ремонта <span><strong></strong> за 1 минуту</span></span> пройдя всего 6 шагов
        .quiz_block
            .quiz_block_inform
                .quiz_block_inform_calc
                    img(src=require('../../images/calc.png') alt=calc)
                    p Рассчитать стоимость
                .quiz_block_inform_call
                    img(src=require('../../images/call.png') alt=call)
                    p Свяжитесь с нами
                .quiz_block_inform_logo
            .quiz_block_content